ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

.header {
    flex: 1;
    color: #445565 !important;
    font-size: 2rem;
    font-weight: 900;
}
